div.footer 
    div.footer__left Этот сайт я создал в рамках обучения в Школе онлай образования LoftSchool.
    div.footer__center 
        div.footer__menu 
            ul.footer__menu-list 
                li.element 
                    a(href="my-works.html", title="title") Мои работы 
                li.element
                    a(href="about.html", title="title") Обо мне 
                li.element
                    a(href="blog.html", title="title") Блог 
                li.element
                    a(href="index.html", title="title") Авторизация 
        div.socials
            a(href="#", title="title").social-icon
                div.vk
            a(href="#", title="title").social-icon
                div.gh
            a(href="#", title="title").social-icon
                div.in            
    div.footer__right Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете. — Martin Golding