div.head 
    div.socials 
        a(href="#", title="title").social-icon
            div.vk
        a(href="#", title="title").social-icon
            div.gh
        a(href="#", title="title").social-icon
            div.in
div.hamburger 
    a(href="#menu", title="title").menu__icon 
        div.ham__icon  

    