.menu#menu
   a(href="#", title="title") 
       div.close
   ul.menu__list
       li.menu__element
           a(href="my-works.html", title="title") МОИ РАБОТЫ 
       li.menu__element
           a(href="blog.html", title="title") БЛОГ 
       li.menu__element
           a(href="about.html", title="title") ОБО МНЕ 
       li.menu__element
           a(href="index.html", title="title") АВТОРИЗАЦИЯ 