.slider 
  .slider__list-wrapp 
    ul.slider__list 
      li.slider__item.active 
        .slide__left 
          .slide__photo 
            img(src="assets/images/work-1.png", alt="")
        .slide__right 
          .slide__text 
            .slide__title.section__title-uppercase САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ1
            .slide__techno HTML, CSSS, JS 
            a(href="", title="title").site__link
              div.site__button Посмотреть сайт
      li.slider__item
        .slide__left 
          .slide__photo 
            img(src="assets/images/work-1.png", alt="")
        .slide__right 
          .slide__text 
            .slide__title.section__title-uppercase САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ2
            .slide__techno HTML, CSSS, JS 
            a(href="", title="title").site__link
              div.site__button Посмотреть сайт
      li.slider__item
        .slide__left 
          .slide__photo 
            img(src="assets/images/work-1.png", alt="")
        .slide__right 
          .slide__text 
            .slide__title.section__title-uppercase САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ3
            .slide__techno HTML, CSSS, JS 
            a(href="", title="title").site__link
              div.site__button Посмотреть сайт