include ../common/menu  
div.wrapp 
    div.header 
        include header     
    div.content
        img(src="assets/images/myImg.jpg", alt="").myImg 
        div.name.undertitle Матвийчук Иван 
        div.developer Личный сайт веб разработчика
        a(href="#", title="title").aroww
            div.aroww__icon
